body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.notes-app {
  padding: 40px;

  &__list {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    padding: 30px;
    width: calc(25% - 15px);
    box-shadow: inset 0 0 0 20px #eeeeee;
  }
}